In [37]:
# Import the necessary packages
import pandas as pd

# Import the national categories data set
cat = pd.read_excel('national_categories.xlsx')

# View the DataFrame
print(cat.shape)
cat.dtypes

(817394, 8)

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [62]:
# Data imported correctly?
print(cat.columns)

Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [38]:
# Viewing the head of the DataFrame National Categories
cat.head(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [39]:
# Viewing the head of the DataFrame National Categories
cat.tail(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
817389,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Unplanned Clinical Activity,12,2022-06
817390,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinics,4,2022-06
817391,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinical Procedure,92,2022-06
817392,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Routine,4,2022-06
817393,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,19,2022-06

In [41]:
# Check for missing values National Categories
cat_na = cat[cat.isna().any(axis=1)]

cat_na.shape

(0, 8)

In [48]:
# Number of locations  -i.e. sub_icb_location_name
# Create a group and then determine its size
loc_name = cat.groupby('sub_icb_location_name')
loc_name.size()

sub_icb_location_name
NHS Bath and North East Somerset Swindon and Wiltshire ICB - 92G    11545
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y                 9490
NHS Birmingham and Solihull ICB - 15E                               11789
NHS Black Country ICB - D2P2L                                       11776
NHS Bristol North Somerset and South Gloucestershire ICB - 15C       9673
                                                                    ...
NHS West Yorkshire ICB - 02T                                         7072
NHS West Yorkshire ICB - 03R                                         7990
NHS West Yorkshire ICB - 15F                                         9478
NHS West Yorkshire ICB - 36J                                         8282
NHS West Yorkshire ICB - X2C4Y                                      10066
Length: 106, dtype: int64

In [49]:
# Number of locations  -i.e. service_setting
# Create a group and then determine its size
service_set = cat.groupby('service_setting')
service_set.size()

service_setting
Extended Access Provision    108122
General Practice             359274
Other                        138789
Primary Care Network         183790
Unmapped                      27419
dtype: int64

In [50]:
# Number of locations  -i.e. context_type
# Create a group and then determine its size
con_type = cat.groupby('context_type')
con_type.size()

context_type
Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
dtype: int64

In [51]:
# Number of locations  -i.e. national_category
# Create a group and then determine its size
nat_category = cat.groupby('national_category')
nat_category.size()

national_category
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Care Home Visit                                                        26644
Clinical Triage                                                        74539
General Consultation Acute                                             84874
General Consultation Routine                                           89329
Group Consultation and Group Education                                  5341
Home Visit                                                             41850
Inconsistent Mapping                                                   89494
Non-contractual chargeable work                                        20896
Patient contact during Care Home Round                                 28795
Planned Clinical Procedure                                             59631
Planned Clinics                                                        76429
Service provided by organisation external to the practice              43095
Social Prescribing Service                                             26492
Structured Medication Review                                           44467
Unmapped                                                               27419
Unplanned Clinical Activity                                            40415
Walk-in                                                                14179
dtype: int64

In [34]:
# Import the regional appointment data set
r_app = pd.read_csv('appointments_regional.csv')

# View the DataFrame
print(r_app.shape)
print(r_app.dtypes)

(596821, 7)
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [35]:
# Viewing the head of the DataFrame Regional Appointment
r_app.head(5)

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [40]:
# Viewing the tail of the DataFrame Regional Appointment
r_app.tail(5)

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
596816,E54000050,2022-06,Unknown,Unknown,Unknown,2 to 7 Days,21
596817,E54000050,2022-06,Unknown,Unknown,Unknown,22 to 28 Days,8
596818,E54000050,2022-06,Unknown,Unknown,Unknown,8 to 14 Days,28
596819,E54000050,2022-06,Unknown,Unknown,Unknown,More than 28 Days,17
596820,E54000050,2022-06,Unknown,Unknown,Unknown,Same Day,10

In [46]:
# Check for missing values Regional Appointment
r_app_na = r_app[r_app.isna().any(axis=1)]

r_app_na.shape

(0, 7)

In [61]:
# Number of attendance  -i.e. appointment_status
# Create a group and then determine its size
attendance_r_app = r_app.groupby(['appointment_status'])['Unknown'].count()
print(attendance_r_app)

KeyError: 'Column not found: Unknown'

In [31]:
# Import the actual duration data set
dur1 = pd.read_csv('actual_duration.csv')

# View the DataFrame
print(dur1.shape)
dur1.dtypes

(137793, 8)

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [32]:
# Viewing the head of the DataFrame Actual Duration
dur1.head(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [33]:
# Viewing the tail of the DataFrame Actual Duration
dur1.tail(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
137788,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,31-60 Minutes,430
137789,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,21-30 Minutes,751
137790,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,16-20 Minutes,921
137791,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,11-15 Minutes,1439
137792,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,1-5 Minutes,1739

In [44]:
# Check for missing values Actual Duration
dur1_na = dur1[cat.isna().any(axis=1)]

dur1_na.shape

C:\Users\aylin\AppData\Local\Temp\ipykernel_25596\3005648452.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dur1_na = dur1[cat.isna().any(axis=1)]

(0, 8)

In [26]:
# Import the tweets data set
tweets1 = pd.read_csv('tweets.csv')

# Shape of the DataFrame
print(tweets1.shape)
print(tweets1.dtypes)

(1174, 10)
tweet_id                    int64
tweet_full_text            object
tweet_entities             object
tweet_entities_hashtags    object
tweet_metadata             object
tweet_retweet_count         int64
tweet_favorite_count        int64
tweet_favorited              bool
tweet_retweeted              bool
tweet_lang                 object
dtype: object

In [29]:
# Viewing the head of the DataFrame Tweets
tweets1.head(5)

,tweet_id,tweet_full_text,tweet_entities,tweet_entities_hashtags,tweet_metadata,tweet_retweet_count,tweet_favorite_count,tweet_favorited,tweet_retweeted,tweet_lang
0,1567629223795527681,As Arkansas’ first Comprehensive Stroke Certif...,"{'hashtags': [{'text': 'Healthcare', 'indices'...",#Healthcare,"{'iso_language_code': 'en', 'result_type': 're...",0,0,False,False,en
1,1567582846612553728,RT @AndreaGrammer: Work-life balance is at the...,"{'hashtags': [{'text': 'PremiseHealth', 'indic...","#PremiseHealth, #hiring","{'iso_language_code': 'en', 'result_type': 're...",2,0,False,False,en
2,1567582787070304256,RT @OntarioGreens: $10 billion can go a long w...,"{'hashtags': [{'text': 'Healthcare', 'indices'...",#Healthcare,"{'iso_language_code': 'en', 'result_type': 're...",39,0,False,False,en
3,1567582767625428992,RT @modrnhealthcr: 🚨#NEW:🚨 Insurance companies...,"{'hashtags': [{'text': 'NEW', 'indices': [20, ...",#NEW,"{'iso_language_code': 'en', 'result_type': 're...",5,0,False,False,en
4,1567582720460570625,ICYMI: Our recent blogs on Cybersecurity in Ac...,"{'hashtags': [{'text': 'blogs', 'indices': [18...","#blogs, #digitaltransformation, #cybersecurity...","{'iso_language_code': 'en', 'result_type': 're...",0,0,False,False,en

In [30]:
# Viewing the tail of the DataFrame Tweets
tweets1.tail(5)

,tweet_id,tweet_full_text,tweet_entities,tweet_entities_hashtags,tweet_metadata,tweet_retweet_count,tweet_favorite_count,tweet_favorited,tweet_retweeted,tweet_lang
1169,1567583004209332227,RT @PotomacPhotonic: Potomac #Innovation Repor...,"{'hashtags': [{'text': 'Innovation', 'indices'...","#Innovation, #precisionFabrication, #Microfluidic","{'iso_language_code': 'en', 'result_type': 're...",1,0,False,False,en
1170,1567582945342267393,Not a cent towards workers who would like to a...,"{'hashtags': [{'text': 'SKPoli', 'indices': [2...","#SKPoli, #healthcare","{'iso_language_code': 'en', 'result_type': 're...",0,1,False,False,en
1171,1567582936014241792,"The @hfmaorg Region 9 presents ""The Value of E...","{'hashtags': [{'text': 'webinar', 'indices': [...","#webinar, #ESG, #healthcare","{'iso_language_code': 'en', 'result_type': 're...",0,0,False,False,en
1172,1567582892892782592,Happy physiotherapy 🩺 day 🎉..\n#bpt #physiothe...,"{'hashtags': [{'text': 'bpt', 'indices': [30, ...","#bpt, #physiotherapy, #HealthyNation, #healthc...","{'iso_language_code': 'en', 'result_type': 're...",0,5,False,False,en
1173,1567582846847533058,RT @KimcoStaffing: Apply now to work for #Medi...,"{'hashtags': [{'text': 'MediQuestStaffing', 'i...","#MediQuestStaffing, #Hospital, #shift, #Newpor...","{'iso_language_code': 'en', 'result_type': 're...",2,0,False,False,en

In [43]:
# Check for missing values Tweets
tweets1_na = tweets1[cat.isna().any(axis=1)]

tweets1_na.shape

C:\Users\aylin\AppData\Local\Temp\ipykernel_25596\3915088604.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tweets1_na = tweets1[cat.isna().any(axis=1)]

(0, 10)